<div class="main-users-edit">
    <div class="container">
        <div class="message">
            <%= flash[:notice] %>
        </div>

        <%# ユーザー情報編集 %>
        <h1 class="edit-form-heading">ユーザー情報</h1>
        <div class="form">
            <%= form_tag("/users/#{@user.id}/update") do %>
                <p>ユーザー名</p>
                <input name="user_name" value="<%= @user.user_name %>">
                <p>ID</p>
                <input name="d_id" value="<%= @user.d_id %>">
                <br>
                <input type="submit" value="保存">
            <% end %>
        </div>
    </div>
</div>
