<div class="home-about">
    <div class="container">
        <div class="about-title">
            <h1>概要</h1>
        </div>
        <ul>
            <li>footglazoは海外サッカー観戦が趣味の人のためのサービスです。<li>
            <li>ここではサッカーを一緒に観戦する人を探すことができます。</li>
            <li>掲示板に自ら投稿し、募集することもできれば、</li>
            <li>掲示板に募集している人から探すこともできます。</li>
            <li>自分に合った方法で、一緒に観戦する人を探してみてください。</li>
            <li>同じ趣味を持った最高の仲間を見つけましょう！</li>
        </ul>
    </div>
</div>
        
