.container{
    margin-top: 100px;
    margin-bottom: 100px;
}

/* index ===================================*/
.message{
    text-align: center;
}
.search_form{
    text-align: center;
    min-width: 650px;
}

.posts-index-item{
    background-color: #b0e0e6;
    border: 2px solid;
    margin: 20px;
    width: 50%;
    font-size: 20px;
    margin-left: 25%;
    overflow-wrap: break-word;
}

.posts-item-name{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-bottom: 2px solid;
}

.posts-item-userid{
    text-align: left;
    border-bottom: 2px solid;
}

.posts-item-tag{
    text-align: left;
    border-bottom: 2px solid;
}

.posts-item-content{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.posts-time{
    font-size: 12px;
    text-align: right;
}

.page{
    text-align: center;
}

.nav{
    position: fixed;
    top: 80px;
    left: 0px;
    width: 200px;
    height: 100%;
    border-right: 1px solid;
    background-color: #b0e0e6;
}

.nav h3{
    margin-top: 10px;
    margin-left: 10px;
}
.tag-search-form{
    margin-left: 10px;
}

.acd-check{
    display: none;
}
/* プレミア ===================================*/
.menu1{
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .3s;
    visibility: hidden;
}
.acd-check:checked + .so-label + .menu1{
    height: 220px;
    opacity: 1;
    visibility: visible;
}
/* ラリーガ ===================================*/
.menu2{
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .3s;
    visibility: hidden;
}
.acd-check:checked + .so-label + .menu2{
    height: 80px;
    opacity: 1;
    visibility: visible;
}
/* セリエ ===================================*/
.menu3{
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .3s;
    visibility: hidden;
}
.acd-check:checked + .so-label + .menu3{
    height: 130px;
    opacity: 1;
    visibility: visible;
}
/* ブンデス ===================================*/
.menu4{
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .3s;
    visibility: hidden;
}
.acd-check:checked + .so-label + .menu4{
    height: 80px;
    opacity: 1;
    visibility: visible;
}
/* リーグアン ===================================*/
.menu5{
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .3s;
    visibility: hidden;
}
.acd-check:checked + .so-label + .menu5{
    height: 80px;
    opacity: 1;
    visibility: visible;
}

/* show ====================================*/


/* new =====================================*/

.new-form-heading{
    text-align: center;
    margin-top: 100px;
}

.form{
    text-align: center;
}

.posts-new textarea {
    width: 300px;
    height: 200px;
    font-size: 15px;
    padding: 14px;
    min-height: 150px;
    border: 1px solid;
    resize: none;
}

.posts-new textarea::-webkit-input-placeholder{
    font-size: 24px;
    opacity: 0.5;
}

.nav-title{
    text-align: center;
    margin-top: 20px;
}

